<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <title>React App</title>
    
    <link rel="stylesheet" href="./css/main.css"></link>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB33R4lz668AdGEbbJ0NDxUHcwQ21k5QyA&libraries=geometry"></script>
  </head>
  <body>
    <div id="root"></div>
    <script src="bundle.js"></script>
  </body>

</html>
