.fetch-location-form {
  margin-top: 10vh;
  padding: 10px;
  font-family: "Yantramanav";
  font-size: 20px;
  position: absolute;
  height: 20vh;
  width: 90vw;
  background-color: rgba(0, 0, 0, 0.8);
  /* border: 1px solid white; */
  text-align: center;
  z-index: 1;
}

.fetch-location-img {
  width: 40px;
  height: 40px;
}
