.fetch-location {
  height: 20vh;
  width: 70vw;
  padding: 10px;
  background-color: rgba(0, 0, 0, 1);
}

.fetch-location-img {
  width: 40px;
  height: 40px;
}

.status, .wait-text {
  padding: 10px 0;
}

.status {
  font-size: 28px;
}

.wait-text {
  font-size: 24px;
}

/* iphone 6/7/8 */
@media only screen and (min-width: 375px) {
  .fetch-location {
    max-width: 375px;
  }
}

@media only screen and (min-width: 768px) {
  .fetch-location {
    min-width: 520px;
    font-size: 30px;
  }
}