.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  position: absolute;
  font-style: "Anton";
}

.logo {
  height: 28px;
  width: auto;
  float: left;
  padding-left: 10px;
}
