.nav-bar {
  display: flex;
  /* display: block; */
  justify-content: space-between;
  height: 5vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.35);
  color: #FFFFFF;
  position: absolute;
  font-style: "Anton";
  /* z-index: 2; */
}
