.user-input-form {
  margin-top: 5vh;
  padding: 15px;
  font-family: "Titan One";
  font-size: 20px;
  position: absolute;
  height: auto;
  width: 75%;
  max-width: 600px;
  background-color: rgba(62, 195, 0, 0.85);
  border: 1px solid white;
  text-align: center;
  z-index: 1;
}

.dollar-input, .address-input, .submit-button {
  width: 85%;
  background-color: inherit;
  border: none;
  font-family: "Titan One";
  text-align: center;
}

.dollar-input, .address-input, {
  border-bottom: 3px solid rgba(255, 255, 255, 1);
  font-size: 16px;
  color: rgba(51, 51, 51, 1);
}

.dollar-input {
  width: 50%;
}

.submit-button {
  background-color: transparent;
  padding: none;
  margin-top: 10px;
  border-bottom: rgba(62, 195, 0, 1);
  font-size: inherit;
  color: rgba(51, 51, 51, 1);
  color: green;
  cursor: pointer;
}

@media (min-width: 340px) {
  .user-input-form {
    font-size: 22px;
    /* font-size: 24px; */
  }

  .dollar-input, .address-input, {
    font-size: 18px;
  }
}

@media (min-width: 370px) {
  .user-input-form {
    font-size: 24px;
  }

  .dollar-input, .address-input, {
    font-size: 20px;
  }
}
