.user-submitted-form {
  margin-top: 0vh;
  padding: 0px;
  font-size: 12px;
  height: 8vh;
  width: 100vw;
  flex-direction: row;
  border: none;
}

#submitted.question {
  display: none;
}

#submitted.address-input-div,
#submitted.dollar-input-div,
#submitted.submit {
  margin: 5px;
}

#submitted.dollar-input-div {
  width: 35%;
}

#submitted.address-input,
#submitted.dollar-input {
  font-size: 12px;
  width: 100%;
  overflow: hidden;
}

#submitted.submit {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-right: 8px;
}
