form {
  margin-top: 10vh;
  padding: 10px;
  font-family: "Yantramanav";
  font-size: 20px;
  color: #FFFFFF;
  position: absolute;
  height: auto;
  width: 85vw;
  background-color: rgba(12, 7, 17, 0.7);
  border-radius: 6px;
  text-align: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.5), inset 0 1px 3px 0 rgba(0,0,0,0.50);
}

.dollar-input-div,
.address-input-div {
  display: flex;
  font-size: 9px;
  background-color: rbga(86, 68, 101, 0.21);
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 6px;
}

.dollar-input-div {
  width: 50%;
}

.address-input-div {
  width: 90%;
}

.dollar-input-icon,
.address-input-icon,
.dollar-input,
.address-input {
  margin: 5px;
}

.dollar-input-icon,
.address-input-icon {
  height: 24px;
  width: 24px;
  margin-right: 0px;
}

.go-icon {
  margin-top: 15px;
  width: 24px;
  height: 24px;
}

.dollar-input,
.address-input,
.submit {
  background-color: transparent;
  width: 100%;
  border: none;
  /* font-family: "Yantramanav"; */
  text-align: center;
}

.dollar-input,
.address-input {
  font-size: 16px;
  color: #FFFFFF;
}

.submit {
  background-color: transparent;
  padding: none;
  border-bottom: rgba(62, 195, 0, 1);
  font-size: inherit;
  color: rgba(51, 51, 51, 1);
  color: green;
  cursor: pointer;
  /* display: none; */
  /* height: 10px; */
}


button:disabled{
  opacity: 0.2;
}

/* @media (min-width: 340px) {
  form {
    font-size: 22px;
  }

  .dollar-input,
  .address-input {
    font-size: 18px;
  }

  .user-submitted-form {
    font-size: 14px;
  }

  #submitted.dollar-input,
  #submitted.address-input {
    font-size: 14px;
  }
}

@media (min-width: 370px) {
  form {
    font-size: 24px;
  }

  .dollar-input,
  .address-input {
    font-size: 20px;
  }

  .user-submitted-form {
    font-size: 14px;
  }

  #submitted.dollar-input,
  #submitted.address-input {
    font-size: 14px;
  }
} */
