.user-submitted-form {
  margin-top: 2vh;
  padding: 10px;
  font-size: 14px;
  width: 90%;
}

#submitted.dollar-input,
#submitted.address-input,
#submitted.submit-button {
  width: 95%;
}

#submitted.dollar-input {
  width: 12%;
}

#submitted.submit-button {
  margin-top: 5px;
}
