.user-submitted-form {
  margin-top: 0vh;
  padding: 0;
  font-size: 12px;
  height: 5vh;
  width: 100vw;
  flex-direction: row;
  border: none;
}

#submitted.question {
  display: none;
}

#submitted.address-input-div,
#submitted.dollar-input-div,
#submitted.submit {
  margin: 5px;
  padding: 0;
}

#submitted.dollar-input {
  width: 75px;
}

#submitted.dollar-input-icon,
#submitted.address-input-icon {
  height: 24px;
  width: 24px;
  margin-right: 0px;
}

#submitted.dollar-input-div {
  width: 100px;
}

#submitted.address-input,
#submitted.dollar-input {
  font-size: 12px;
  width: 100%;
  overflow: hidden;
}

#submitted.submit {
  width: 26px;
  height: 21px;
  margin-top: 5px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media only screen and (min-width: 375px) {
  .user-submitted-form {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    max-width: 400px;
  }

}

@media only screen and (min-width: 768px) {
  .user-submitted-form {
    height: 6vh;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 500;
  }

  #submitted.dollar-input {
    font-size: 26px;
    text-align: left;
    margin-left: 12px;
  }

  #submitted.dollar-input-div {
    width: 35%;
  }

  #submitted.address-input {
    font-size: 18px;
    font-weight: 400;
  }

  #submitted.submit {
    width: 45px;
    height: 33px;
  }
}
