.user-submitted-form {
  margin-top: 0vh;
  padding: 0px;
  font-size: 12px;
  height: 8vh;
  width: 100vw;
  flex-direction: row;
  border: none;
}

#submitted.question {
  display: none;
}

#submitted.address-input-div,
#submitted.dollar-input-div,
#submitted.submit {
  margin: 5px;
}

#submitted.address-input,
#submitted.dollar-input {
  /* border: none; */
  width: 100%;
  overflow: hidden;
}

#submitted.submit {
  width: 8vw;
  float: right;
}
